Source/.vs/CombatRealism/v14/.suo
*.suo
*.suo
Source/CombatRealism/obj/Debug/Combat_Realism.csproj.FileListAbsolute.txt
Source/CombatRealism/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
*.cache
Source/CombatRealism/obj/Debug/CombatRealism.dll